{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h1>app de notas</h1>
    <button onclick="window.location.href='{% url 'view' %}'"> Nueva nota </button>

    <table id="tabla">
        <tr>
            <th>TITULO</th>
            <th>FECHA</th>
            <th>ACCIONES</th>
        </tr>

        {% for nota in title %}
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                nuevaFila("{{nota.titulo}}", "{{nota.fecha}}", "{{nota.id}}");
            });
        </script>
        {% endfor %}

    </table>

    <script>
        function nuevaFila(titulo, fecha, notaId) {
            let table = document.getElementById("tabla");
            let row = table.insertRow(-1);
            let c1 = row.insertCell(0);
            let c2 = row.insertCell(1);
            let c3 = row.insertCell(2);

            c1.innerText = titulo;
            c2.innerText = fecha;

            let button = document.createElement("button");
            button.innerText = "ver ";
            c3.appendChild(button);
            button.onclick = function () {

                redirigirNota2(notaId);
            };




            let button2 = document.createElement("button");
            button2.innerText = "editar ";
            button2.onclick = function () {

                redirigirNota(notaId);
            };

            c3.appendChild(button2);

            let button3 = document.createElement("button");
            button3.innerText = "Borrar ";
            c3.appendChild(button3);


            function redirigirNota(notaId) {

                let url = `/editar/${notaId}`;


                window.location.href = url;
            }

            function redirigirNota2(notaId) {

                let url = `/nota/${notaId}`;


                window.location.href = url;
            }


        }
    </script>
</body>

</html>